body {	font-family: Arial;
		width: 800px;
		position: relative;
	} 
h1 { color: #B0C4DE; }
.disabled { color: grey; }
a { color: black; 
	text-decoration: none;
	}
.due { color: red; }
a:hover { text-decoration: underline; }
th { text-align: left; }
#pagesize_selector { text-align: right; }
#pagesize_selector * { margin-left: 5px; } 
body > div { 
	border-width: 1px; 
	border-style: solid;
	border-color: silver;
	margin-bottom: 5px;
	padding: 5px;
}
table {
	width: 100%;
	border-spacing: 0;
}
#header {
	display: flex; 
	justify-content: space-between;
	background-image: url(../images/header.png);
	background-repeat: no-repeat;
}
#username {
	position: absolute;
	top: 100px;
	right: 5px;
}
tr:nth-child(even) {
	background-color: #C5C5C5;
}
ul {
 list-style-type: none;
 padding: 0;
}

ul, li {
 display: inline;
}

#todo_form {
	display: grid;
	grid-template-columns: 100px 100px auto;
	grid-gap: 5px;
}
#due_date_and_title_labels {
	grid-row: 1;
	grid-column: 1;
}
#due_date {
	grid-row: 1;
	grid-column: 2;
}
#title {
	grid-row: 1;
	grid-column: 3;
}
#notes_label {
	grid-row: 2;
	grid-column: 1;
}
#notes {
	grid-row: 2;
	grid-column: 2 / span 2;
}
#buttons {
	grid-row: 3;
	grid-column: 1 / span 3;
	text-align: right;
}
input[type=submit] {
	width: 130px;
}