.template, #autoteil_details {
	display: none;
	color: black;
}

.todo {
	cursor: pointer;
}

body { 
	font-family: Verdana;
	width: 850px;
	position: relative;
	background-color: #D8D8D8;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	}
	
textarea {
resize: none;
overflow: word-spacing;
border: 1px solid;
}

textarea:focus {
background-color: #D8D8D8;
}

input {
height:25px;
width:220px;
border: 1px solid;
}

input:focus {
background-color: #D8D8D8;
}
	
#menu_bar {
text-align: center;
}

#autoteil_list {
text-align: left;
}
	
.h3_details { 
color: #5882FA;
text-align: left;
 }
  
 .h1_header { 
color: #08088A;
text-align: center;
 }
 
 .h6_zusatz { 
color: #8181F7;
text-align: center;
 }
 
 .author {
	 color:#5882FA;
	 display: inline-block;
	 width: 90px;
 }
 
  .inventur_date {
	 color:#5882FA;
	 text-align: center;
 }
 
   .title {
	 color:#5882FA;
	 text-align: center;
 }
 
   .gesamtwert {
	 color:#115a0d;
	 text-align: center;
 }
 
   .preis {
	 color:#5882FA;
	 text-align: center;
 }
    .bestand {
	 color:#5882FA;
	 text-align: center;
 }
    .farbe {
	 color:#5882FA;
	 text-align: center;
 }
 
   .notes {
	 color:#5882FA;
	 text-align: center;
	 padding-left: 10px;
 }
 
   .edit_autoteil {
	 color:#08088A;
 } 
 
 	 a.edit_autoteil:hover {
	 color: #3104B4;
	 }
 
    .delete_autoteil {
	 color:#08088A;
 } 
 
  	 a.delete_autoteil:hover {
	 color: #B40404;
	 }
	 
	.input_field {
	height:50px;
	}
 
 body > div { 
	border-width: 1px; 
	border-style: solid;
	border-color: grey;
	margin-bottom: 5px;
	padding: 5px;