# PHP Fehler nicht in der HTTP-Antwort ausgeben
php_value display_errors 0

# PHP Fehler im Windows Ereignisprotokoll ausgegen
#php_value error_log syslog

ErrorDocument 404 /andreas-vb/4_PHP/PageNotFound.php